/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #4facfe, #00f2fe);
    color: #333;
    text-align: center;
    line-height: 1.6;
}

header {
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, p {
    margin: 20px 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    margin: 10px;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.3s ease;
}

a:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.weather-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin: 20px;
    text-align: left;
}

.weather-info h2 {
    margin-bottom: 10px;
}

.weather-info p {
    font-size: 1.2rem;
}

img {
    width: 100px;
    height: 100px;
}

footer {
    margin-top: 40px;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.7);
}
