<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Привітання</title>
    <style>
        .btn-back {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            margin-top: 20px;
        }

        .btn-back:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div>
        <h1>Вітаю вас на моїй інформаційній сторінці</h1>
        <p>Натисніть кнопку "Продовжити", щоб дізнатися про мене більше</p>
        <a href="main_page" class="btn-back">Продовжити</a>
    </div>
</body>
</html>
