<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Моя перша сторінка</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 50px;
        }
        h1 {
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Вітаю на головній сторінці юзера</h1>
    <p>Це проста HTML-сторінка.</p>
    
    function openChartPage() {
        window.location.href = "http://127.0.0.1:5000/chart"; // ВСТАВ СВОЮ ССИЛКУ ТУТ
    }
    
</body>
</html>
