<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Додати публікацію</title>
</head>

<body>
    <h1>Вас вітає все арсеналівське опитування</h1>
    <h2>з плавання</h2>
    <img src="https://static.espreso.tv/uploads/photobank/311000_312000/311387_GettyImages-480509488_new_960x500_0.webp">
    <h3>Цей тест складається з 4 питання та є 4 правилні відповіді 
        скоріш натискайте на кнопку РОЗПАЧАТИ ТЕСТ і покажіт на що ви здатні
    </h3>
    <a href="http://127.0.0.1:5000/test">РОЗПАЧАТИ ТЕСT</a>

</body>

</html>
